@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: Arial, Helvetica, sans-serif;
        min-height: 100vh;
        min-height: 100dvh;
    }

    [hidden] {
        @apply !hidden;
    }
}

@layer components {
}
