@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: Arial, Helvetica, sans-serif;
        min-height: 100vh;
        min-height: 100dvh;
    }

    body {
        @apply dark:bg-neutral-800 dark:text-white dark:fill-white;
    }

    h1 {
        @apply text-4xl;
    }

    h2 {
        @apply text-2xl;
    }

    h3 {
        @apply text-xl;
    }

    h4 {
        @apply text-lg;
    }

    input {
        @apply h-12 p-4 rounded-lg bg-transparent text-center text-black outline-none border-2 border-neutral-600;
        @apply focus-visible:border-black dark:focus-visible:border-white;
        @apply dark:text-white dark:border-neutral-300;

        &:not(:placeholder-shown) {
            @apply invalid:border-red-500;
            @apply valid:focus:border-green-500;
        }
    }

    label {
        @apply grid grid-rows-[min-content_1fr] grid-cols-1 gap-1 w-full;

        span {
            @apply text-center text-red-600;
            @apply hidden;
        }

        &[data-error="true"] {
            input {
                @apply border-red-500 focus:valid:border-red-500;
            }

            span {
                @apply block;
            }
        }
    }

    label > label:has(:placeholder-shown) > span {
        display: none !important;
    }

    label:has(input:invalid) > span {
        @apply block;
    }

    button,
    [role="button"],
    [type="button"],
    [type="reset"],
    [type="submit"] {
        @apply h-12 rounded-lg bg-blue-primary text-white fill-white;
        @apply dark:bg-blue-primary dark:text-black dark:fill-black;
    }

    a {
        @apply cursor-pointer text-orange-secondary fill-orange-secondary;
        @apply dark:text-blue-primary dark:fill-blue-primary;

        &.outlined {
            @apply text-black fill-black;
            @apply py-2 rounded border-2 border-black text-center;
            @apply dark:text-white dark:border-white;
        }
    }

    hr {
        @apply border-neutral-700;
        @apply dark:border-white;
    }

    [hidden] {
        @apply !hidden;
    }
}
