@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: Arial, Helvetica, sans-serif;
        min-height: 100vh;
        min-height: 100dvh;
    }

    body {
        @apply dark:bg-neutral-800 dark:fill-white dark:text-white;
    }

    h1 {
        @apply text-4xl;
    }

    h2 {
        @apply text-2xl;
    }

    h3 {
        @apply text-xl;
    }

    h4 {
        @apply text-lg;
    }

    input {
        @apply h-12 rounded-lg border-2 border-neutral-600 bg-transparent p-4 text-center text-black outline-none;
        @apply focus-visible:border-black dark:focus-visible:border-white;
        @apply dark:border-neutral-300 dark:text-white;

        &:not(:placeholder-shown) {
            @apply invalid:border-red-500;
            @apply valid:focus:border-green-500;
        }
    }

    label {
        @apply grid w-full grid-cols-1 grid-rows-[min-content_1fr] gap-1;

        span {
            @apply text-center text-red-600;
            @apply hidden;
        }

        &[data-error="true"] {
            input {
                @apply border-red-500 focus:valid:border-red-500;
            }

            span {
                @apply block;
            }
        }
    }

    label > label:has(:placeholder-shown) > span {
        display: none !important;
    }

    label:has(input:invalid) > span {
        @apply block;
    }

    button,
    [role="button"],
    [type="button"],
    [type="reset"],
    [type="submit"] {
        @apply h-12 rounded-lg bg-blue-primary fill-white text-white;
        @apply dark:bg-blue-primary dark:fill-black dark:text-black;
    }

    a {
        @apply cursor-pointer fill-blue-primary text-blue-primary;

        &.outlined {
            @apply fill-black text-black;
            @apply rounded border-2 border-black py-2 text-center;
            @apply dark:border-white dark:text-white;
        }
    }

    hr {
        @apply border-neutral-700;
        @apply dark:border-white;
    }

    [hidden] {
        @apply !hidden;
    }
}

@layer components {
    .bg-glass {
        background: linear-gradient(150deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.3));
        @apply backdrop-blur-lg;
        
        [data-colorscheme="dark"] & {
            background: linear-gradient(150deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3));
        }
    }
}
